/* 
@media (max-width: 600px) {
    }
    
    .calendar-card {
    position: fixed;
    top: anchor(bottom);
    left: anchor(right);
    margin-top: 4px;
    }
    */

.datepicker-container>button {
    anchor-name: --calander-trigger;
}

.calendar-card {
    position: absolute;
    position-anchor: --calander-trigger;
    position-try-fallbacks: --bottom;
    margin: 0;
    inset: auto;
    top: anchor(bottom);
    left: anchor(right);
    margin-block-start: 6px;

    border: 0;
    padding: 0;
    border-radius: 16px 16px 0 0;
    animation: slideUp 0.2s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@position-try --bottom-right {
    inset: auto;
    bottom: anchor(bottom);
    right: anchor(left);
}